@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.truncate-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.truncate-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  @apply text-gray-700;
}

p {
  @apply text-gray-500;
}
